.paddings {
    padding-left:9px;
    padding-right:9px;
    padding-top: 0%;
  }

  .paddings2 {
    padding-left:9px;
    padding-right:9px;
    padding-top: 0%;
  }

  .paddingright {
    padding-right:0;
  }


  .cardTextSize {
    font-size: 13px !important;
  }

  .centerTable{
    text-align: center !important;
  }

  .widthTexbox{
    width: 90px;
    text-align: center;
    align-items: center;
  }



/* 
  padding-right: 9px;
    padding-left: 9px; */