.tableTotals {
    border-style: hidden !important;
    color: #0069b4 !important;
    text-align: center !important;
    font-weight: bold !important;
    font-size: 14px !important;
    padding-bottom: 2%;
}